<form [formGroup]="formModel">
	<mat-form-field appearance="outline">
		<mat-label>Visible name</mat-label>
		<input
			matInput
			type="text"
			formControlName="visibleName"
		>
	</mat-form-field>
	<mat-form-field appearance="outline">
		<mat-label>Short biography</mat-label>
		<textarea
			matInput
			type="text"
			formControlName="bio"
			rows="10"
		></textarea>
	</mat-form-field>
	<mat-form-field appearance="outline">
		<mat-label>Contact</mat-label>
		<input
			matInput
			type="text"
			formControlName="contact"
		>
	</mat-form-field>
	<button
		mat-raised-button color="primary"
		[disabled]="formModel.invalid"
		(click)="onSubmit()">
			Change
	</button>
</form>
