<div class="post-section">
	<button
		mat-raised-button
		color="primary"
		class="add-new-btn"
		(click)="onAddNewClick()">
			Add new blog post
	</button>
	<app-blog-post
		*ngFor="let post of blogPosts$ | async"
		[post]="post"
		[isEditable]="true"
		(delete)="onPostDelete(post)"
		(edit)="onPostEdit(post)">
	</app-blog-post>
</div>
<div class="bio-section">
	<button
		mat-raised-button
		color="primary"
		class="add-new-btn"
		(click)="onBioEditClick()">
			Edit biography	
	</button>
	<app-bio [bio]="bio$ | async"></app-bio>
</div>

