:host {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	
	div {
		font-size: 15px;
		font-weight: bold;
		color: blue;
		margin-bottom: 15px;
	}
}
